/* Benefits Features */

.benefits {
  .title {
    text-transform: uppercase;
  }
}

.benefits {
  padding-top: 94px;
  padding-bottom: 47px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.features {
  .title {
    color: var(--title-text-color);
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features {
  .item {
    &::before {
      display: block;
      content: '';
      height: 120px;
      background-size: contain;
      background: var(--bg-cl-icon);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 4px;
      margin-bottom: 30px;
    }
  }
}

.features {
  .item {
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.features {
  .icon-antenna {
    &::before {
      background-image: url(../images/advantages/antenna.svg);
    }
  }
}

.features {
  .icon-clock {
    &::before {
      background-image: url(../images/advantages/clock.svg);
    }
  }
}

.features {
  .icon-diagram {
    &::before {
      background-image: url(../images/advantages/diagram.svg);
    }
  }
}

.features {
  .icon-astronaut {
    &::before {
      background-image: url(../images/advantages/astronaut.svg);
    }
  }
}

.features {
  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
}
