/* Header */

.page-header {
  .container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-header {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo {
  .logo-color {
    color: #2196f3;
  }
}

.border {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
